/* You can add global styles to this file, and also import other style files */
@media print {
  body > * { display: none !important; }
  .modal-overlay { display: flex !important; position: static !important; background: none !important; }
  .modal { box-shadow: none !important; }
  .modal-actions { display: none !important; }
}
